body{
    background: #fff
}
@font-face {
  font-family: Roboto;
  src: url("/imobile/public/font/Roboto-Light.ttf");
}
.wrapper {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    max-width: 640px;
}.sf {
    margin-top: 48px;
}.login {
    text-align: center;
    font-family: Roboto;
    background: transparent url("/imobile/public/img/bg.png") repeat center top;
    min-height: calc(100vh - 55px);
    max-width: 100% !important;
}.login>div {
    margin: 3% auto;
    max-width: 500px;
    border: 1px solid #ccc;
    padding: 25px 0;
    background-color: #fff;
}.login>div>* {
    display: block;
    margin-bottom: 25px;
}.login>div>img {
    max-width: 100%;
}.login>div>span {
    font-size: 20px;
    font-weight: normal;
    line-height: 1.5;
}.login>div>form>* {
    display: block;
    margin: auto;
    font-family: Roboto;
}.login>div>form>input {
    border: 1px solid #e0e0e0;
    border-radius: 100px;
    width: 302px;
    height: 50px;
    padding: 0 50px;
    background-repeat: no-repeat;
    background-position: 25px center;
    margin-bottom: 15px;
    font-size: 15px;
}.login>div.d1>form>input {
    background-image: url("/imobile/public/img/icon-phone-blue.png");
    background-size: 14px 21px;
}.login>div>form>label {
    color: #f01;
    margin-bottom: 15px;
    width: 90%;
}.hide {
    display: none !important;
}.btn {
    background-image: linear-gradient(-106deg,#51beed 2%,#288ad6 100%);
    box-shadow: 0 2px 6px 0 #9ed4ec;
    border-radius: 100px;
    width: 302px;
    height: 50px;
    border: none;
    text-transform: uppercase;
    color: #fff;
    font-size: 17px;
}